@font-face {
  /* 为载入的字体取名字(随意) */
  font-family: 'ME';
  /* 字体文件地址(相对或者绝对路径都可以) */
  src: url(/font/Mali-Medium.woff2);
  /* 定义加粗样式(加粗多少) */
  font-weight: normal;
  /* 定义字体样式(斜体/非斜体) */
  font-style: normal;
  /* 定义显示样式 */
  font-display: block;
}

@font-face {
  /* 为载入的字体取名字(随意) */
  font-family: 'china';
  /* 字体文件地址(相对或者绝对路径都可以) */
  src: url(/font/甜甜圈海报字体.woff2);
  /* 定义加粗样式(加粗多少) */
  font-weight: normal;
  /* 定义字体样式(斜体/非斜体) */
  font-style: normal;
  /* 定义显示样式 */
  font-display: block;
}

@font-face {
  /* 为载入的字体取名字(随意) */
  font-family: 'yu';
  /* 字体文件地址(相对或者绝对路径都可以) */
  src: url(/font/筑紫A丸by宁静之雨.woff2);
  /* 定义加粗样式(加粗多少) */
  font-weight: normal;
  /* 定义字体样式(斜体/非斜体) */
  font-style: normal;
  /* 定义显示样式 */
  font-display: block;
}

@font-face {
  /* 为载入的字体取名字(随意) */
  font-family: 'Consolas';
  /* 字体文件地址(相对或者绝对路径都可以) */
  src: url(/font/Consolas.woff2);
  /* 定义加粗样式(加粗多少) */
  font-weight: normal;
  /* 定义字体样式(斜体/非斜体) */
  font-style: normal;
  /* 定义显示样式 */
  font-display: block;
}


